<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <style>
        @font-face {
            font-family: "Icons";
            src: url('fonts/Icons.eot');
            src: url('fonts/Icons.eot?#iefix') format('eot'),
                /* url('assets/fonts/Icons.woff2') format('woff2'), */
                /* url('assets/fonts/Icons.svg#Icons') format('svg'),; */
            url('fonts/Icons.woff') format('woff'),
            url('fonts/Icons.ttf') format('truetype')
        }
    </style>
    <link rel="stylesheet" href="css/icons.css">
</head>
<body>

<h1 class="icon icon-arrow">Tolle Wurst</h1>
<h1 class="icon icon-gear_animate">icon-gear_animate</h1>
<h1 class="icon icon-gear">icon-gear</h1>
<h1 class="icon icon-gear_rotate">icon-gear_rotate</h1>
<h1 class="icon icon-lock">icon-lock</h1>

</body>
</html>